colour==0.1.5
dtaidistance==2.3.9
dtw==1.4.0
joblib==1.1.0
keras==2.9.0
matplotlib==3.5.2
numpy==1.23.0
pandas==1.4.3
pgcolorbar==1.1.1
pyautogui==0.9.53
PyQt5==5.15.7
pyqtgraph==0.12.4
scikit_learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
statsmodels==0.13.2
tensorflow==2.9.1
tqdm==4.64.0
